@charset "UTF-8";
/* Body */
body {
/*	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif; */
	font-family: GothamLightRegular;
	background-color: #FFFFFF;
	margin: 0;
}
/* Container */
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}
/* Header */
header {
	width: 100%;
	height: 10%;
	background-color: #4488AA /*#5D5E5D;
	border-bottom: 1px solid #353635;*/
}

.title {
	color: #fff;
	margin-left: auto;
	letter-spacing: 4px;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 0px;
	text-align: center;
/*	padding-top: 10px; */
	line-height: 2em;
	font-size: 30px; 
	font-family: GoudyOldStyleMTProItalic;
}

/* More info */
.intro {
	background-color: #FFFFFF;
	color: #FFFFFF;
	padding-bottom: 5px;

}
.intro .logo{
	width: 30%;
	max-width: 350px;
	text-align: center;
	margin-top: -35px;
	float: left;
}

.intro .quote{
	width: 65%;
/*	text-align: left;*/
	margin-top: -10px;
	margin-left: 30px;
	margin-right: 10px;
	float: left;
}

.intro .quote p{
	width: 90%;
	padding: 10px;
	float: center;
}


.column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}

/*
		Default for links within the intro
*/
.intro a, .intro a:link, .intro a:visited, .intro a:hover, .intro a:active {
		color:#FACB21;
}

/************************************************
*	Article Styles
*
*	The Article is the "main content section" of each page. 
*
*************************************************/
article {
	padding:2em;
	padding-top: 2em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-family: GothamLightRegular;

	color: #333333;
	background-color: white;
	font-size: 14px;
	line-height: 1.42857143;
	min-height: 400px;
	margin:0 auto;
	float: center;
	width: 100%;
	background: white;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #6DC7D0;
	color: #FFFFFF;
	cursor: pointer;
}
.copyright {
	text-align: center;
/*	padding-top: 5px;
	padding-bottom: 5px;*/
	background-color: #5D5E5D /*#717070;*/
	color: #FFFFFF;
	text-transform: uppercase;
/*	font-weight: lighter;*/
	letter-spacing: 2px;
	font-size: 12px;
/*	border-top-width: 2px;*/
}
footer {
	background-color: #B3B3B3;
	padding-top: 5px;
	padding-bottom: 5px;
}

.intro {
	display: inline-block;
	background-color: #4488AA; /* #4488AA; #6DC7D0;*/
}
.profile {
	width: 75%;
	max-width: 350px;
}

.video_wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
}

iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 85%;
	height: 85%;
}

/************* MOBILE ****************/

/* Mobile */
@media (max-width: 320px) {
.column {
	width: 100%;
	margin-top: 0px;
}
.intro .column p, .intro .quote p{
	width: 100%;
	padding: 10px;
	float: center;
}

.intro .logo {
	width: 100%; /* 90% */
	float: center;
	margin-top: 0px;

}

.intro .quote {
	width: 100%; /* 90% */
	clear: center;
	float: center;
}
.profile {
	width: 80%;
	max-width: 200px;
}

}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.column {
	width: 100%;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.intro .column p, .intro .quote p{
	width: 85%; /*90%;*/
	text-align: center;
}

.intro .logo {
/*	display: none; */
	width: 20%; /* 90% */
	float: center;
	margin-top:0;
}

.intro .quote {
	width: 70%; /* 90% */
	float: right;
}

.profile {
	width: 90%;
	max-width: 250px;
	margin-left: 10px;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {

.intro .logo {
/*	display: none; */
	width: 25%; /* 90% */
	float: center;
	margin-top: -30px;
}

.profile {
	width: 90%;
	max-width: 250px;
	margin-left: 20px;
}

.intro .quote p{
	width: 90%;
	text-align: center;
}

}
